In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
train_data = pd.read_csv('train_data_3.csv')
train_data.head()

       ID  ...           Type
0   82577  ...  Medical Books
1   79481  ...  Medical Books
2  125658  ...            Law
3  201053  ...         Travel
4  204615  ...         Travel

[5 rows x 4 columns]

In [ ]:
test_data = pd.read_csv('test_data_3.csv')
test_data.head()

       ID                                               Text
0  202985  Argentina/Bolivia/Brazil/Chile/Paraguay/Urugua...
1   75315  Solaris 8 System Administrator Exam Cram (Exam...
2   75976                       Computer Science Illuminated
3  192608  Mosambik, Malawi = Mozambique, Malawi = Mocamb...
4   82492  Diario de un cuidador (Plataforma actual) (Spa...

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.spatial import distance

In [ ]:
# obtain and count the text 
train_text = list(train_data['Text'])
test_text = list(test_data['Text'])
num_of_train = len(train_text)
num_of_test = len(test_text)

In [ ]:
# labels of training data
train_label = list(train_data['Category'])

In [ ]:
corpus = train_text + test_text

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(corpus)
len(vectorizer.get_feature_names())

33637

In [ ]:
num_of_features = X.shape
num_of_features

(67428, 33637)

In [ ]:
X_data = pd.DataFrame.sparse.from_spmatrix(X)

In [ ]:
X_data.head()

   0         1      2      3      4      ...  33632  33633  33634  33635  33636
0    0.0  0.000000    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
1    0.0  0.000000    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2    0.0  0.000000    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
3    0.0  0.450381    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
4    0.0  0.000000    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0

[5 rows x 33637 columns]

In [ ]:
train = X_data.iloc[:num_of_train,:]

In [ ]:
test = X_data.iloc[num_of_train:,:]

In [ ]:
y = train_data['Category']

In [ ]:
y.head()

0    4
1    4
2    3
3    5
4    5
Name: Category, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(train, y, test_size=0.2, stratify=y) #80-20 split

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=25).fit(x_train, y_train)

In [ ]:
y_rf = rf.predict(x_test)

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, y_rf, average='weighted')

0.7935224755016356

In [ ]:
from sklearn.linear_model import LogisticRegression
#create a new logistic regression model
log_reg = LogisticRegression().fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
y_lr = log_reg.predict(x_test)

In [ ]:
f1_score(y_test, y_lr, average='weighted')

0.8444921395754625

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
treemodel = tree.DecisionTreeClassifier().fit(x_train, y_train)

In [ ]:
y_tree = treemodel.predict(x_test)

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, y_tree, average='weighted')

0.7179383284078372

In [ ]:
from sklearn.linear_model import LogisticRegression
#create a new logistic regression model
log = LogisticRegression().fit(train, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
lr_predict = log.predict(test)

In [ ]:
lr_predict

array([5, 1, 1, ..., 2, 1, 1])

In [ ]:
df_sub = pd.read_csv('sample_submission.csv', sep=',')

In [ ]:
df_sub['Category'] = lr_predict

In [ ]:
df_sub.head()

       ID  Category
0  202985         5
1   75315         1
2   75976         1
3  192608         5
4   82492         5

In [ ]:
df_sub.to_csv ('submission_5.csv', index = False, header=True)

In [ ]:
files.download('submission_5.csv')